<% if @vm %>
  <form action="/<%= @vm.vmid %>" method="post" id="edit">
    <input type="hidden" name="_method" value="put">
    <input type="text"  name="name" value="<%=h @vm.name %>" >
    <input type="submit" value="Edit VM">
  </form>
  <form id="delete-form" action="/<%= @vm.vmid %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <a href="#" id="delete">Delete</a>
  </form>

<% else %>
  <p>VM not found.</p>
<% end %>

